body > * {
    border: solid 1px;
}

main, .category {
    display: flex;
}

audio-buffer-source-node {
    flex: auto;
}

input[type="checkbox"] {
    appearance: none;
    font: inherit;
    background-color: red;
    width: 1.15em;
    height: 1.15em;
}

input[type="checkbox"]:checked {
    background-color: green;
}
